<?xml version="1.0"?>
<config>
    <modules>
        <Example_Test>
            <version>1.0.0</version>
        </Example_Test>
    </modules>
    <frontend>
        <routers>
            <test>
                <use>standard</use>
                <args>
                    <module>Example_Test</module>
                    <frontName>test</frontName>
                </args>
            </test>
        </routers>
    <layout>
            <updates>
                <doesnotmatter>
                    <file>example_test.xml</file>
                </doesnotmatter>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <test>
                <class>Example_Test_Block</class>
            </test>
        </blocks>
        <helpers>
            <test>
                <class>Example_Test_Helper</class>
            </test>
        </helpers>
    </global>
    <default>
        <product_highlights>
            <sku_list_setting>123,321,121
            </sku_list_setting>
        </product_highlights>
    </default>
</config>