<?xml version="1.0"?>
<config>
    <tabs>
    	<test translate="label" module="test">
    		<label>Knoblock</label>
    		<sort_order>0</sort_order>
    	</test>
    </tabs>
    <!-- Must have greater than zero sections for tab above to show up -->
    <sections>
    	<test translate="label" module="test">
    		<!-- Must match tab defined above -->
    		<tab>test</tab>
            <label>New Products Options</label>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<new_products_values translate="label comment">
                    <label>New Products</label>
                    <comment>Enter products you wish to show as new. Comma-separated.</comment>
                    <frontend_type>text</frontend_type>
                    <!-- validate>validate-per-page-value-list</validate -->
                    <!--<source_model>adminhtml/system_config_source_catalog_gridPerPage</source_model>-->
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
	                    <skus translate="label comment">
	                        <label>Products </label>
	                        <comment>Enter SKUs for products</comment>
	                        <frontend_type>text</frontend_type>
	                        <sort_order>1</sort_order>
	                        <show_in_default>1</show_in_default>
	                        <show_in_website>1</show_in_website>
	                        <show_in_store>1</show_in_store>
	                    </skus>
                    </fields>
                </new_products_values>
			</groups>
        </test>
   </sections>
</config>