<?xml version="1.0"?>
<config>
    <modules>
        <Example_Newproducts>
            <version>1.0.0</version>
        </Example_Newproducts>
    </modules>
    <frontend>
        <routers>
            <newproducts>
                <use>standard</use>
                <args>
                    <module>Example_Newproducts</module>
                    <frontName>newproducts</frontName>
                </args>
            </newproducts>
        </routers>
    <layout>
            <updates>
                <doesnotmatter>
                    <file>example_test.xml</file>
                </doesnotmatter>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <newproducts>
                <class>Example_Newproducts_Block</class>
            </newproducts>
        </blocks>
        <!-- required by admin area to use configuration menu -->
        <models>
            <newproducts>
                <class>Example_Newproducts_Models</class>
            </newproducts>
        </models>
        <!-- default helper required by admin area to use configuration menu -->
        <helpers>
            <newproducts>
                <class>Example_Newproducts_Helper</class>
            </newproducts>
        </helpers>
    </global>
    <default>
        <product_highlights>
            <sku_list_setting>123,321,121
            </sku_list_setting>
        </product_highlights>
    </default>
</config>